@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        لطفاً خطاهای زیر را بررسی کنید:
        <ul class="mb-0">
            @foreach (var item in ViewData.ModelState)
            {
                foreach (var err in item.Value.Errors)
                {
                    <li>@err.ErrorMessage</li>
                }
            }
        </ul>
    </div>
} 
