@model CreateOrUpdateUserAddressDto
@{
    ViewData["Title"] = "افزودن آدرس جدید";
    Layout = "~/Areas/Customers/Views/Shared/_CustomerPanelLayout.cshtml";
}

<h3 class="mb-4">افزودن آدرس جدید</h3>
@await Html.PartialAsync("_ValidationSummary")
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="ReceiverName" class="form-label"></label>
        <input asp-for="ReceiverName" class="form-control" />
        <span asp-validation-for="ReceiverName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="City" class="form-label">شهر</label>
        <input asp-for="City" class="form-control"  placeholder="شهر"/>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PostalCode" class="form-label"></label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="AddressText" class="form-label"></label>
        <textarea asp-for="AddressText" class="form-control"></textarea>
        <span asp-validation-for="AddressText" class="text-danger"></span>
    </div>
    <div class="form-check mb-3">
        <input asp-for="IsDefault" class="form-check-input" />
        <label asp-for="IsDefault" class="form-check-label">آدرس پیش‌فرض</label>
    </div>
    <button type="submit" class="btn btn-success">ثبت آدرس</button>
</form>
