@{
    Layout = null;
    var title = ViewData["Title"] as string ?? "نت بازار";
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@title</title>
    <meta name="description" content="فروشگاه مدرن نت بازار" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="~/css/vazirmatn-font-face.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/site.js"></script>   
    <script src="~/js/ajax.js"></script>
</head>
<body class="bg-light">
    <header>
        @await Html.PartialAsync("_Navbar")
        @await Html.PartialAsync("_DiscountBanner")
    </header>

    <main class="container py-3">
        <div class="row">
            <aside class="col-12 col-lg-3 mb-3">
                @await Html.PartialAsync("_CategoryMenu")
                @await Html.PartialAsync("_MiniCart")
            </aside>
            <section class="col-12 col-lg-9">
                @RenderBody()
            </section>
        </div>
    </main>

    <footer class="mt-4">
        @await Html.PartialAsync("_Footer")
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
